<section id="about-heading" class="p-5">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container pt-5">
                        <img src="img/logo.png" width="420px">
                        <h1>About Us</h1>
                        <p class="d-none d-md-block">
                            Learn more about our story and how we started!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="main-content">
    <section id="info" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/junepark.jpg" alt="image" class="img-fluid">
                </div>
                <div class="col-md-6 align-self-center">
                    <h2>Our Story</h2>
                    <p>During his first year in college, June Park was an avid designer and street-wear enthusiast, majoring in Business, and minoring in Graphic Design. While he was excited to be in his second home, the community in his homeland of Korea was no more. Over the course of a couple of months, he soon started to develop homesickness, missing the local/home-cooked meals, the friends that he used to hang out with, the community that he had.
                    <br> <br>Wanting to find a way to connect with people that made feel like he was at home, he looked around many different communities and stumbled across multiple Facebook groups dedicated to connecting with other Asians in America. Finding people was no issue, but it was finding people around his local community that was a difficult one. Plus, as he was new to the city of Chicago, he had no idea where all of the Asian businesses, in effect creating an decentralized system of Asian communities and businesses in the city. At that point, it is when he decided to establish a locally-driven service, dedicated to giving communities a one-stop directory in finding local Asian businesses and places within the Chicagoland area.
                    <br> <br> Enter Najimi (Japanese for "familiar"), a website that shows you local Asian businesses and communities around the Chicagoland area. Users can go on Najimi and find places on where to find Asian cuisine, entertainment venues or clubs, and many other Asian goods.</p>
                </div>
            </div>
        </div>
    </section>
</section>
    
</section>
