<section class="main-content">
    <form id="contactForm">
        <h2>Add your business</h2>
        <div class="form-group">
            <label for="inputName">Business Name</label>
            <input type="text" class="form-control" id="inputAddress" aria-describedby="textHelp" placeholder="Najimi Center">
        </div>
        <div class="form-group">
            <label for="inputCategory">Select your Inquiry:</label>
            <select multiple class="form-control" id="inputCategory">
                <option value="Food/Beverages">Food/Beverages</option>
                <option value="Grocery Store">Grocery Store</option>
                <option value="Club">Club</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Community Center">Community Center</option>
                <option value="Restaurant">Restaurant</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputAddress">Business Address</label>
            <input type="text" class="form-control" id="inputAddress" aria-describedby="textHelp" placeholder="370 N. Osana St.">
        </div>
        <p>Description:</p>
        <div class="input-group">
            <textarea class="form-control" id="inputDescription" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" onclick="">Submit</button>
    </form>
</section>