<section id="faq-heading" class="p-5">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container pt-5">
                        <img src="img/logo.png" width="420px">
                        <h1>FAQ</h1>
                        <p class="d-none d-md-block">
                            Frequently Asked Questions<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="main-content">
    <div class="accordion" id="faqPanel">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Najimi?
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqPanel">
                <div class="card-body">
                    Najimi is a service that is dedicated to help you find local Asian businesses within the Chicagoland area. We are locally-owned and staffed, with members working around the clock in finding small businesses within Chicago's Asian community.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Do you guys manage these businesses?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#faqPanel">
                <div class="card-body">
                    We do not own any of the businesses listed on this site. We're only a business directory.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        If there is incorrect information listed on this site, how can I report it?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqPanel">
                <div class="card-body">
                    If you're a business and/or have a verified account on our site, you can login and change your business information.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        How can I add my business to your website?
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#faqPanel">
                <div class="card-body">
                    Please contact us through our contact form, and one of our staff members will help you in getting your business on our site.
                </div>
            </div>
        </div>
    </div>
</section>
