<section id="home-heading" class="p-5">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container pt-5">
                        <img src="img/logo.png" width="420px">
                        <h1>Welcome to Najimi!</h1>
                        <p class="d-none d-md-block">
                            A service that is dedicated to help you find local Asian businesses and places within the Chicagoland area.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="home-icons" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 text-center">
                    <i class="bi bi-patch-check-fill" style="font-size: 3rem"></i>
                    <h3>Verified Local Businesses</h3>
                    <p>Our team is located in Chicago, working around the clock to make sure that you're given reputable, verified businesses around the Chicagoland area.</p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="bi bi-trophy-fill" style="font-size: 3rem"></i>
                    <h3>Community-Driven</h3>
                    <p>Our service is community-driven, meaning that you'll get to support locally-owned businesses within the Asian community! You win, they win, everybody wins!</p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="bi bi-heart-fill" style="font-size: 3rem"></i>
                    <h3>Supporting Asian Communities</h3>
                    <p>As we are a service that allows you to find local Asian-owned businesses, we are also in the service of supporting local Asian communities through our events and donation drives!</p>
                </div>
            </div>
        </div>
    </section>

<section class="main-content">
    <section id="info1" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h3>Trying to find Asian-owned businesses, but having trouble finding to them?</h3>
                    <p>We understand that trying to find real locally-owned business in the Asian community can be tricky at times.<br>
                    That's why we have created Najimi, a service that shows you local businesses owned by people within the Asian community. Verified and checked by our staff members.</p>
                </div>

                <div class="col-md-6">
                    <img src="./img/josh-wilburne-hPeGDIGHnoI-unsplash.jpg" alt="image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="info2" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="./img/nafinia-putra-Kwdp-0pok-I-unsplash.jpg" alt="image" class="img-fluid">
                </div>
                <div class="col-md-6 align-self-center">
                    <h3>Verified and Checked</h3>
                    <p>When you go on Najimi, you can expect that you will be finding verified and reputable businesses. No longer would you need to sift through result, after result!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="info3" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h3>Locally developed and community-driven.</h3>
                    <p>Our service is owned and operated by people within the local Asian community, here in Chicago! This means that finding locally-owned Asian businesses is made easier, thanks to the people dedicated and working around the clock in making Najimi a reputable place!</p>
                </div>
                <div class="col-md-6">
                    <img src="./img/markus-winkler-CqG3wQ2dK2U-unsplash.jpg" width="500px" alt="image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</section>